@import "tailwindcss";

body {
  user-select: none;
}

/* Hide spin buttons for all number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.fa-font{
  font-family: "IranSans";
}

.en-font{
  font-family: "Poppins";
}

@custom-variant dark (&:is(.dark *));

@font-face{
  src: url("../public/fonts/iranSansX-bold.woff2") format("woff2");
  font-family: "IranSans";
  font-weight: 800;
  font-display: swap;
}

@font-face{
  src: url("../public/fonts/iranSansX-light.woff2") format("woff2");
  font-family: "IranSans";
  font-weight: 400;
  font-display: swap;
}

@font-face{
  src: url("../public/fonts/Poppins-Regular.ttf");
  font-family: "Poppins";
  font-weight: 300;
}
@font-face{
  src: url("../public/fonts/Poppins-SemiBold.ttf");
  font-family: "Poppins";font-weight: 600;
}
