@import "tailwindcss";

.fa-font{
  font-family: "IranSans";
}

.en-font{
  font-family: "Poppins";
}

@custom-variant dark (&:is(.dark *));

@font-face{
  src: url("../public/fonts/iranSansX-bold.woff2") format("woff2");
  font-family: "IranSans";
  font-weight: 800;
  font-display: swap;
}

@font-face{
  src: url("../public/fonts/iranSansX-light.woff2") format("woff2");
  font-family: "IranSans";
  font-weight: 400;
  font-display: swap;
}

@font-face{
  src: url("../public/fonts/Poppins-Regular.ttf");
  font-family: "IranSans";
}
